* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #444;
}
.gellary {
    width: 30%;
    height: 200px;
    display: flex;
    gap: 5px;
}
.gellary img {
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #fff;
    transition: all ease 0.3s;
    cursor: pointer;
}
.gellary img:hover {
    width: 100%;
}